extends layout

block content
  #board
    //- #subhead I'm board.
    //- main
    //-   div.list
    //-     header preliminary
    //-     div.list-cards
    //-       ul
    //-         li do this thing
    //-         li then do this other thing which is way longer his other thing which is way longerhis other thing which is way longer
    //-         li and finally do this nonsense
    //-     footer Add a card...

    //-   div.list
    //-     header preliminary
    //-     div.list-cards
    //-       ul
    //-         li do this thing
    //-         li then do this other thing which is way longer his other thing which is way longerhis other thing which is way longer
    //-         li and finally do this nonsense
    //-     footer Add a card...

    //-   div.list
    //-     header preliminary
    //-     div.list-cards
    //-       ul
    //-         li do this thing
    //-         li then do this other thing which is way longer his other thing which is way longerhis other thing which is way longer
    //-         li and finally do this nonsense
    //-     footer Add a card...

