include _mixins

doctype html
html
  head
    title= title
    +stylesheet_link('style')
    +js_include('vendor/all')
    +js_include('handlebars_templates')
    +js_include('vendor/datepicker-english')
    +js_include('application')

  body
    header
      div.search-box
        input.search-input(type='text' name='search')
        a.search-icon(href="#")
      button.btn.notification
      span.clear
    block content

    +js_include('models/comment')
    +js_include('models/label')
    +js_include('collections/comments')
    +js_include('collections/labels')
    +js_include('models/card')
    +js_include('collections/cards')
    +js_include('models/list')
    +js_include('collections/lists')
    +js_include('models/board')
    +js_include('views/board')
    +js_include('views/add_list')
    +js_include('views/list')
    +js_include('views/lists')
    +js_include('views/card')
    +js_include('views/edit_card_window')
    +js_include('views/list_menu')
    +js_include('views/date')
    +js_include('views/labels')

    script(type='text/javascript').
      App.init(!{JSON.stringify(board)});
    +js_include('router')
