<div class="card-composer">
  <div class="card">
    <textarea class="autoExpand"></textarea>
  </div>
  <div class="add-footer">
    <button class="add">Add</button>
    <div class="remove"></div>
  </div>
</div>