<div class="card-composer">
  <div class="card">
    <textarea class="autoExpand" data-min-rows='2'></textarea>
  </div>
  <div class="add-footer">
    <button class="add">Add</button>
    <div class="remove"></div>
  </div>
</div>