{{!-- <div class="add-list-container">
  <button class="add-list">Add a list...</button>
  <div class="add-list-form">
    <input type="text" placeholder="Add a list..."></input>
    <div class="add-footer">
      <button class="add">Save</button>
      <div class="remove"></div>
    </div>
  </div>
</div> --}}
<div class="add-list-container">
  <button class="add-list">Add a list...</button>
  <div class="add-list-form">
    <form action="#">
      <input type="text" placeholder="Add a list..."></input>
      <div class="add-footer">
        <button type="submit" class="add">Save</button>
        <div class="remove"></div>
      </div>
    </form>
  </div>
</div>