<div id="date-view">
  <header>Change Due Date</header>
  <div class="close"></div>
  <div class="date-entry-section">
    <span class="date-entry">
      <p>Date</p>
      <input name="date">
    </span>
    <span class="date-entry">
      <p>Time</p>
      <input name="time">
    </span>
  </div>
  <div class="date-picker">
  </div>
  <div class="date-buttons">
    <button class="save">Save</button>
    <button class="remove">Remove</button>
  </div>
</div>