<div class="list" data-id="{{id}}">
  {{!-- <header>{{name}}</header> --}}
  <header>
    <div class="list-name">{{name}}</div>
    <div class="more"></div>
    <form action="#">
      <textarea class="autoExpand" rows="1">{{name}}</textarea>
    </form>
  </header>
  <div class="list-cards">
    {{!-- cards looped here --}}
  </div>
  
  <a class="add-card" href="#">
    <footer>
      Add a card...
    </footer>
  </a>
  
</div>