<div class="list" data-id="{{id}}">
  <header>{{name}}</header>
  <div class="list-cards">
    {{!-- cards looped here --}}
  </div>
  
  <a class="add-card" href="#">
    <footer>
      Add a card...
    </footer>
  </a>
  
</div>