<div id="list-menu-view">
  <header>List Actions</header>
  <div class="close"></div>
  <div class="list-menu-section">
    <div class="list-menu-item add">
      Add Card...
    </div>
    <div class="list-menu-item delete">
      Delete This List
    </div>
  </div>
</div>