.gu-mirror
  position: fixed !important
  box-sizing: border-box !important
  z-index: 9999 !important
  opacity: 1 !important
  -ms-transform: rotate(4deg); /* IE 9 */
  -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
  transform: rotate(4deg);
  color: colors.text-dark !important
  
.gu-hide
  display none !important

.gu-unselectable
  user-select none !important

.gu-transit
  background-color: colors.card-drag-ghost !important
  color: colors.card-drag-ghost !important
  .card-labels
    visibility: hidden
    // background-color: colors.card-drag-ghost !important

.list-wrapper.gu-transit
  background-color: colors.main !important
  .list
    background-color: colors.list-drag-ghost !important
    color: colors.list-drag-ghost !important
    header
      visibility: hidden
    .list-cards
      visibility: hidden
    footer
      visibility: hidden
