colors = {
  main: #0079bf,
  head: #0067a3,
  text-light: #f6f6f6,
  text-dark: #4d4d4d,
  head-inner: #4d95bf,
  head-inner-hover: #66a4c8,
  border: #888,
  highlight: #ffff9d,
  delete: #b00b00,
  button: {
    text: #fff,
    bg: #00a388
  }
}