colors = {
  main: #0079bf,
  head: #0067a3,
  text-light: #f6f6f6,
  text-dark: #4d4d4d,
  text-dark-faded: #8c8c8c,
  head-inner: #4d95bf,
  head-inner-hover: #66a4c8,
  list: #e2e4e6,
  list-footer-hover-bg: #cdd2d4,
  card: #ffffff,
  card-shadow: #cccccc,
  card-hover: #edeff0,
  card-drag-ghost: #c4c9cc,
  list-drag-ghost: #006199,
  border: #888,
  highlight: #ffff9d,
  delete: #b00b00,
  add-button: #5fb74b,
  add-button-shadow: #3f6f21,
  add-list-button:#006aa8,
  add-list-button-hover:#005485,
  add-list-text:#acc7d7,
  button: {
    text: #fff,
    bg: #00a388
  }
}