@import 'whitespace-reset.css'
@import 'mixins'
@import 'dragula'


html
  height: 100%
   
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: colors.main
  color: colors.text-light
  height: 100%

body > header
  height: 40px
  width: 100%
  background: no-repeat center url('/images/hello.png')
  background-color: colors.head
  border-bottom: 1px solid #0070b2
  .btn
    display: inline-block
    background-color: colors.head-inner
    border: none
    height: 30px
    border-radius: 3px
    margin: 5px
    outline: none
    &:hover
      background-color: colors.head-inner-hover
    &:focus
      background-color: white
  .search-input
    background-color: rgba(255,255,255,.3)
    border-radius: 3px
    border: none
    color: colors.text-light
    float: left
    font-size: 13px
    height: 30px
    outline: none
    margin: 0
    min-height: 30px
    padding-right: 30px
    padding-left: 8px
    line-height: 19px
    -webkit-transition: width 150ms
    transition: width 150ms
    width: 180px
    z-index: 1;
    &:hover
      background-color: colors.head-inner-hover
    &:focus
      background-color: white
      color: colors.text-dark
  a.search-icon
    // display: inline-block
    min-height: 30px
    min-width: 30px
    background-image: url('/images/search.png')
    background-repeat: no-repeat
    background-position: center center
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background 85ms,color 85ms;
    transition: background 85ms,color 85ms;
    z-index: 2;
  .search-box
    float: left;
    margin: 5px 8px 5px 5px;
    position: relative;
    z-index: 1;   
  .notification
    width: 30px
    top: 0px
    float: right
    background-image: url('/images/notification.png')
    background-repeat: no-repeat
    background-position: center center

#subhead
  height: 45px
  color: colors.text-light
  font-size: 18px
  font-weight: bold
  line-height: 45px
  padding: 0 18px;

main
  position: relative;
  height: 100%
  
#list-container
  height: 100%
  background-color: colors.main
  color: colors.text-light
  padding: 0 5px 10px 5px
  overflow-y: hidden
  overflow-x: auto
  padding-bottom: 10px
  
span.clear
  content: ''
  clear: both
  display: block

.list-wrapper
  height: 100%
  min-width: 270px
  display: table-cell
  vertical-align: top

.list
  margin: 0 5px
  border-radius: 3px
  box-sizing: border-box
  color: colors.text-dark
  width: 270px
  background-color: colors.list
  
  .list-cards
    overflow: auto
    padding: 0 10px
    min-height: 10px
  header
    font-size: 14px
    font-weight: bold
    padding: 10px 12px
  a
    &:link
      color: colors.text-dark-faded
      text-decoration: none
    &:visited
      color: colors.text-dark-faded
      text-decoration: none
    &:hover
      color: colors.text-dark 
      text-decoration: underline
    footer
      padding: 15px 12px 10px 12px
      &:hover
        background: colors.list-footer-hover-bg
    
div.card
  position: relative
  background-color: colors.card
  padding: 10px 8px
  border-radius: 3px
  box-shadow: 0 1px 0 colors.card-shadow
  max-width: 300px;
  min-height: 20px;
  &+div.card
    margin-top: 7px
  .edit
    display: none
    position: absolute
    margin: 3px
    right: 0px
    top: 0px
    background: url('/images/edit-pen.png') no-repeat center
    background-color: colors.card-hover
    min-height: 26px
    min-width: 26px
    border-radius: 3px
    opacity: .4
    &:hover
      opacity: 1
      font-size: 14px
  &:hover
    background-color: colors.card-hover
    .edit
      display: block
  textarea
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    color: colors.text-dark 
    overflow: hidden
    box-sizing: padding-box
    word-wrap: break-word
    resize: none
    border: none
    height: auto
    outline: none
    width: 100%
    margin-bottom: 4px
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    padding: 0
      
[contenteditable="true"]:active,
[contenteditable="true"]:focus
  border:none
  outline:none

.card-composer
  .add-footer
    .add
      width: 60px
      padding: 8px 12px
      margin: 8px 0
      font-size: 14px
      font-weight: bold
      background: colors.add-button
      color: colors.button.text
      border-radius: 3px
      border: none
      box-shadow: 0 1px 0 colors.add-button-shadow
      float: left
    .remove
      min-width: 26px
      margin: 12px 6px
      min-height: 26px
      background: url('/images/close.png') no-repeat center
      opacity: .4
      float: left
      &:hover
        opacity: 1
  
.card-composer
  div.card
    position: relative
    background-color: colors.card
    padding: 10px 8px
    border-radius: 3px
    box-shadow: 0 1px 0 colors.card-shadow
    margin-top: 7px

.add-list
  height: 40px
  width: 100%
  display: block
  margin: 0 5px
  padding-left: 12px
  background: colors.add-list-button
  color: colors.add-list-text
  font-size: 14px
  text-align: left
  border: none
  border-radius: 3px
  &:hover
    background: colors.add-list-button-hover