@import 'whitespace-reset.css';
@import 'datepicker.min.css';
.gu-mirror {
  position: fixed !important;
  box-sizing: border-box !important;
  z-index: 9999 !important;
  opacity: 1 !important;
  -ms-transform: rotate(4deg); /* IE 9 */
  -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
  transform: rotate(4deg);
  color: #4d4d4d !important;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  user-select: none !important;
}
.gu-transit {
  background-color: #c4c9cc !important;
  color: #c4c9cc !important;
}
.gu-transit .card-labels {
  visibility: hidden;
}
.list-wrapper.gu-transit {
  background-color: #0079bf !important;
}
.list-wrapper.gu-transit .list {
  background-color: #006199 !important;
  color: #006199 !important;
}
.list-wrapper.gu-transit .list header {
  visibility: hidden;
}
.list-wrapper.gu-transit .list .list-cards {
  visibility: hidden;
}
.list-wrapper.gu-transit .list footer {
  visibility: hidden;
}
html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0079bf;
  color: #f6f6f6;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
body > header {
  overflow-x: hidden;
  height: 40px;
  width: 100%;
  background: no-repeat center url("/images/hello.png");
  background-color: #0067a3;
  border-bottom: 1px solid #0070b2;
}
body > header .btn {
  display: inline-block;
  background-color: #4d95bf;
  border: none;
  height: 30px;
  border-radius: 3px;
  margin: 5px;
  outline: none;
}
body > header .btn:hover {
  background-color: #66a4c8;
}
body > header .btn:focus {
  background-color: #fff;
}
body > header .search-input {
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
  border: none;
  color: #f6f6f6;
  float: left;
  font-size: 13px;
  height: 30px;
  outline: none;
  margin: 0;
  min-height: 30px;
  padding-right: 30px;
  padding-left: 8px;
  line-height: 19px;
  -webkit-transition: width 150ms;
  transition: width 150ms;
  width: 180px;
  z-index: 1;
}
body > header .search-input:hover {
  background-color: #66a4c8;
}
body > header .search-input:focus {
  background-color: #fff;
  color: #4d4d4d;
}
body > header a.search-icon {
  min-height: 30px;
  min-width: 30px;
  background-image: url("/images/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background 85ms, color 85ms;
  transition: background 85ms, color 85ms;
  z-index: 2;
}
body > header .search-box {
  float: left;
  margin: 5px 8px 5px 5px;
  position: relative;
  z-index: 1;
}
body > header .notification {
  width: 30px;
  top: 0px;
  float: right;
  background-image: url("/images/notification.png");
  background-repeat: no-repeat;
  background-position: center center;
}
#subhead {
  height: 45px;
  color: #f6f6f6;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  padding: 0 18px;
}
main {
  position: relative;
  overflow-x: auto;
}
#scrollbar-style::-webkit-scrollbar {
  background-color: #00649e;
  border-radius: 3px;
}
#scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #66a4c7;
  border-radius: 3px;
}
#list-container {
  box-sizing: border-box;
  color: #f6f6f6;
  padding: 0 5px 10px 5px;
  overflow-x: auto;
  display: table;
}
span.clear {
  content: '';
  clear: both;
  display: block;
}
.list-wrapper {
  display: table-cell;
  min-width: 270px;
  vertical-align: top;
}
.list {
  margin: 0 5px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #4d4d4d;
  width: 270px;
  background-color: #e2e4e6;
  position: relative;
}
.list .list-cards {
  overflow-y: auto;
  padding: 0 10px;
  min-height: 10px;
}
.list header {
  font-size: 14px;
  font-weight: bold;
  padding: 7px 6px 6px 6px;
}
.list header form {
  display: none;
}
.list header textarea {
  border-radius: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  resize: none;
  outline: none;
  border: none;
  padding: 3px 5px;
  width: 220px;
  overflow: none;
}
.list header .list-name {
  border-radius: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 3px 5px;
  width: 220px;
  cursor: pointer;
}
.list header .more {
  min-height: 26px;
  min-width: 26px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: url("/images/more.png") no-repeat center;
}
.list header .more:hover {
  background-color: #cdd2d4;
}
.list a {
  outline: none;
}
.list a:link {
  color: #8c8c8c;
  text-decoration: none;
}
.list a:visited {
  color: #8c8c8c;
  text-decoration: none;
}
.list a:hover {
  color: #4d4d4d;
  text-decoration: underline;
}
.list a footer {
  padding: 15px 12px 10px 12px;
}
.list a footer:hover {
  background: #cdd2d4;
}
div.card {
  position: relative;
  background-color: #fff;
  padding: 5px 8px 10px 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  max-width: 300px;
  min-height: 20px;
  cursor: pointer;
}
div.card+div.card {
  margin-top: 7px;
}
div.card .edit {
  display: none;
  position: absolute;
  margin: 3px;
  right: 0px;
  top: 0px;
  background: url("/images/edit-pen.png") no-repeat center;
  background-color: #edeff0;
  min-height: 26px;
  min-width: 26px;
  border-radius: 3px;
  opacity: 0.4;
}
div.card .edit:hover {
  opacity: 1;
  font-size: 14px;
}
div.card:hover {
  background-color: #edeff0;
}
div.card:hover .edit {
  display: block;
}
div.card textarea {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  overflow: none;
  box-sizing: padding-box;
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
div.card .card-labels {
  margin: 0 0 5px 0;
  pointer-events: none;
}
div.card .card-labels .label {
  min-height: 8px;
  min-width: 42px;
  margin-right: 3px;
  display: inline-block;
  border-radius: 3px;
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}
.card-composer .add-footer .add {
  width: 60px;
  padding: 8px 12px;
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
  background: #5fb74b;
  color: #fff;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 0 #3f6f21;
  float: left;
}
.card-composer .add-footer .remove {
  min-width: 26px;
  margin: 12px 6px;
  min-height: 26px;
  background: url("/images/close.png") no-repeat center;
  opacity: 0.4;
  float: left;
}
.card-composer .add-footer .remove:hover {
  opacity: 1;
}
.card-composer div.card {
  position: relative;
  background-color: #fff;
  padding: 10px 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  margin-top: 7px;
}
.add-list {
  height: 40px;
  width: 270px;
  display: block;
  margin: 0 5px;
  padding-left: 12px;
  background: #006aa8;
  color: #acc7d7;
  font-size: 14px;
  text-align: left;
  border: none;
  border-radius: 3px;
}
.add-list:hover {
  background: #005485;
}
.add-list:focus {
  outline: none;
}
.add-list-form {
  display: none;
  margin: 0 5px;
  padding: 4px 4px 0 4px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #4d4d4d;
  width: 270px;
  background-color: #e2e4e6;
}
.add-list-form:after {
  content: '';
  clear: both;
  display: block;
}
.add-list-form input {
  border-radius: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  padding: 9px;
  overflow: hidden;
  box-sizing: border-box;
  word-wrap: break-word;
  resize: none;
  border: 1px solid #aaa;
  background: #cccdcf;
  -webkit-box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.1);
  outline: none;
  width: 100%;
}
.add-list-form .add-footer .add {
  width: 60px;
  padding: 8px 12px;
  margin: 4px 0 0 0;
  font-size: 14px;
  font-weight: bold;
  background: #5fb74b;
  color: #fff;
  border-radius: 3px;
  border: none;
  outline: none;
  box-shadow: 0 1px 0 #3f6f21;
  float: left;
}
.add-list-form .add-footer .remove {
  min-width: 26px;
  margin: 8px 6px;
  min-height: 26px;
  background: url("/images/close.png") no-repeat center;
  opacity: 0.4;
  float: left;
}
.add-list-form .add-footer .remove:hover {
  opacity: 1;
}
.modal {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  overflow: auto;
  top: 0;
}
.modal-content {
  width: 730px;
  margin: 48px auto auto auto;
  position: relative;
  z-index: 2;
  border-radius: 3px;
  background: #edeff0;
  color: #4d4d4d;
}
.modal-content h2 {
  font-weight: bold;
}
.modal-content header {
  padding: 17px 50px 5px 45px;
  font-size: 18px;
  min-height: 30px;
  background: no-repeat url("/images/detail-icon.jpg");
  background-position: left 15px top 20px;
}
.modal-content header textarea {
  color: #4d4d4d;
  padding: 3px 5px;
  border-radius: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: none;
  resize: none;
  outline: none;
  width: 95%;
}
.modal-content header textarea.disabled {
  background: none;
}
.modal-content .close {
  min-width: 26px;
  min-height: 26px;
  top: 10px;
  right: 10px;
  position: absolute;
  background: url("/images/close.png") no-repeat center;
  opacity: 0.4;
}
.modal-content .close:hover {
  opacity: 1;
}
.modal-content main {
  width: 575px;
  padding: 0 25px 15px 15px;
  box-sizing: border-box;
  float: left;
}
.modal-content main h5 {
  color: #8c8c8c;
  font-weight: normal;
}
.modal-content main .card-detail-labels {
  padding-left: 34px;
  margin-bottom: 28px;
}
.modal-content main .card-detail-labels .label-list {
  margin-top: 8px;
}
.modal-content main .card-detail-labels .label-list .label {
  vertical-align: top;
  height: 18px;
  min-width: 35px;
  display: inline-block;
  padding: 7px 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.modal-content main .card-detail-labels .label-list .label+.label {
  margin-left: 5px;
}
.modal-content main .card-detail-description {
  padding-left: 34px;
}
.modal-content main .card-detail-description p {
  margin-top: 7px;
  cursor: pointer;
}
.modal-content main .card-detail-description a {
  text-decoration: underline;
}
.modal-content main .card-detail-description form {
  display: none;
  margin-top: 10px;
  padding: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #4d4d4d;
}
.modal-content main .card-detail-description form:after {
  content: '';
  clear: both;
  display: block;
}
.modal-content main .card-detail-description form textarea {
  border-radius: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  padding: 9px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  word-wrap: break-word;
  resize: none;
  border: 1px solid #ccc;
  background: #e5e7e8;
  -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.07);
  box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.07);
  outline: none;
  width: 100%;
}
.modal-content main .card-detail-description form .add-footer .add {
  width: 60px;
  padding: 8px 12px;
  margin: 4px 0 0 0;
  font-size: 14px;
  font-weight: bold;
  background: #5fb74b;
  color: #fff;
  border-radius: 3px;
  border: none;
  outline: none;
  box-shadow: 0 1px 0 #3f6f21;
  float: left;
}
.modal-content main .card-detail-description form .add-footer .remove {
  min-width: 26px;
  margin: 8px 6px;
  min-height: 26px;
  background: url("/images/close.png") no-repeat center;
  opacity: 0.4;
  float: left;
}
.modal-content main .card-detail-description form .add-footer .remove:hover {
  opacity: 1;
}
.modal-content main .card-due-date {
  padding-left: 34px;
  margin-bottom: 20px;
}
.modal-content main .card-due-date .due-link {
  display: inline-block;
  margin-top: 8px;
  padding: 7px;
  background: #e2e4e6;
  color: #8c8c8c;
  text-decoration: underline;
}
.modal-content main .card-due-date .due-link:hover {
  color: #4d4d4d;
  background: #d6dadc;
  cursor: pointer;
}
.modal-content main .add-comment {
  margin-top: 27px;
  padding: 0 0 0 34px;
  background: no-repeat url("/images/add-comment-icon.jpg");
}
.modal-content main .add-comment form {
  text-align: right;
  margin-top: 10px;
}
.modal-content main .add-comment form textarea {
  width: 100%;
  padding: 10px;
  color: #4d4d4d;
  border-radius: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 1px 0 #ccc;
}
.modal-content main .add-comment form button.comment {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 60px;
  padding: 8px 12px;
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
  background: #5fb74b;
  color: #fff;
  border-radius: 3px;
  border: none;
}
.modal-content main .add-comment form button.disabled {
  background-color: #e2e4e6;
  color: #8c8c8c;
  box-shadow: none;
  cursor: default;
}
.modal-content main .comments {
  padding-left: 34px;
  padding-bottom: 12px;
  background: no-repeat url("/images/comments-icon.jpg");
}
.modal-content main .comments h2,
.modal-content main .comments .comment {
  padding: 12px 0 12px 0;
}
.modal-content main .comments h2+.comment,
.modal-content main .comments .comment+.comment {
  border-top: 1px solid #e2e4e6;
}
.modal-content main .comments h2 .comment-body,
.modal-content main .comments .comment .comment-body {
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
}
.modal-content main .comments h2 .comment-date,
.modal-content main .comments .comment .comment-date {
  color: #8c8c8c;
  font-size: 12px;
}
.modal-content .sidebar {
  width: 155px;
  padding: 8px 12px 12px 0;
  float: right;
  box-sizing: border-box;
}
.modal-content .sidebar .card-detail-btn-group+.card-detail-btn-group {
  margin-top: 30px;
}
.modal-content .sidebar .card-detail-btn-group h2 {
  margin-bottom: 6px;
}
.modal-content .sidebar .card-detail-btn-group button {
  width: 100%;
  padding: 7px 10px;
  color: #4d4d4d;
  height: 33px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #e2e4e6;
  box-shadow: 0 1px 0 #e2e4e6;
  outline: none;
  background: #fff;
/* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 100%) /* FF3.6-15 */;
  background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 100%) /* Chrome10-25,Safari5.1-6 */;
  background: linear-gradient(to bottom, #fff 0%, #f9f9f9 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
}
.modal-content .sidebar .card-detail-btn-group button:hover {
  background: #298fca;
  color: #fff;
  border: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.modal-content .sidebar .card-detail-btn-group button:disabled {
  opacity: 0.5;
}
.modal-content .sidebar .card-detail-btn-group button:disabled:hover {
  background: #fff;
/* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 100%) /* FF3.6-15 */;
  background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 100%) /* Chrome10-25,Safari5.1-6 */;
  background: linear-gradient(to bottom, #fff 0%, #f9f9f9 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
  color: inherit;
  border: 1px solid #e2e4e6;
  box-shadow: 0 1px 0 #e2e4e6;
}
.modal-content .sidebar .card-detail-btn-group button+button {
  margin-top: 6px;
}
.modal-content:after {
  clear: both;
  display: block;
  content: '';
}
#popup {
  position: absolute;
  left: 0px;
  top: 0px;
}
#date-view {
  width: 275px;
  padding: 10px;
  color: #4d4d4d;
  background: #fff;
  border-radius: 3px;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  border: #ccc;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
#date-view .close {
  min-width: 26px;
  min-height: 26px;
  top: 5px;
  right: 4px;
  position: absolute;
  background: url("/images/close.png") no-repeat center;
  background-size: 70%;
  opacity: 0.4;
}
#date-view .close:hover {
  opacity: 1;
}
#date-view header {
  color: #8c8c8c;
  padding: 0 0 8px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#date-view .date-entry-section {
  margin-top: 10px;
}
#date-view .date-entry-section .date-entry {
  box-sizing: border-box;
  font-weight: bold;
  color: #4d4d4d;
  width: 40%;
  display: inline-block;
}
#date-view .date-entry-section .date-entry+.date-entry {
  margin-left: 30px;
}
#date-view .date-entry-section .date-entry input {
  border-radius: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px;
  margin-top: 5px;
  color: #4d4d4d;
  border: 1px solid #ccc;
  width: 100%;
}
#date-view .date-buttons:after {
  clear: both;
  display: block;
  content: '';
}
#date-view .date-buttons button {
  width: 90px;
  padding: 8px 12px;
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
}
#date-view .date-buttons button.save {
  background: #5fb74b;
  box-shadow: 0 1px 0 #3f6f21;
  color: #fff;
  float: left;
}
#date-view .date-buttons button.remove {
  background: #e2e4e6;
  box-shadow: 0 1px 0 #ccc;
  color: #b04632;
  float: right;
}
#date-view .date-buttons button:hover {
  box-shadow: inset 0 0 0 99px rgba(0,0,0,0.1);
}
.datepicker {
  margin: 15px auto 8px auto;
}
#list-menu-view {
  width: 240px;
  color: #4d4d4d;
  background: #fff;
  border-radius: 3px;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  border: #ccc;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
#list-menu-view .close {
  min-width: 26px;
  min-height: 26px;
  top: 5px;
  right: 4px;
  position: absolute;
  background: url("/images/close.png") no-repeat center;
  background-size: 70%;
  opacity: 0.4;
}
#list-menu-view .close:hover {
  opacity: 1;
}
#list-menu-view header {
  color: #8c8c8c;
  padding: 10px 10px 8px 10px;
  margin: 0 10px 10px 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#list-menu-view .list-menu-section {
  margin-top: 2px;
  margin-bottom: 10px;
}
#list-menu-view .list-menu-section .list-menu-item {
  padding: 7px 10px;
  font-weight: bold;
  color: #4d4d4d;
  cursor: pointer;
}
#list-menu-view .list-menu-section .list-menu-item:hover {
  background: #298fca;
  color: #fff;
}
#labels-view {
  width: 280px;
  color: #4d4d4d;
  background: #fff;
  border-radius: 3px;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  border: #ccc;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
#labels-view .close {
  min-width: 26px;
  min-height: 26px;
  top: 5px;
  right: 4px;
  position: absolute;
  background: url("/images/close.png") no-repeat center;
  background-size: 70%;
  opacity: 0.4;
}
#labels-view .close:hover {
  opacity: 1;
}
#labels-view header {
  color: #8c8c8c;
  padding: 10px 10px 8px 10px;
  margin: 0 10px 10px 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#labels-view .labels-section {
  margin-top: 2px;
  margin-bottom: 10px;
}
#labels-view .labels-section .label-item-group {
  position: relative;
}
#labels-view .labels-section .label-item-group .label-item {
  min-height: 34px;
  min-width: 150px;
  margin: 0 53px 0 10px;
  padding: 0 10px;
  color: #fff;
  border-radius: 3px;
  line-height: 34px;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  cursor: pointer;
}
#labels-view .labels-section .label-item-group .label-item:hover {
  background: #298fca;
  color: #fff;
}
#labels-view .labels-section .label-item-group .label-edit {
  min-height: 34px;
  min-width: 34px;
  right: 10px;
  top: 0px;
  position: absolute;
  display: block;
  background: url("/images/edit-pen.png") no-repeat center;
}
#labels-view .labels-section .label-item-group .label-edit:hover {
  background-color: #cdd2d4;
}
#labels-view .labels-section .label-item-group+.label-item-group {
  margin-top: 4px;
}
